[Unit]
Description=UCAR base and lidar sensors
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ucar
WorkingDirectory=/home/ucar
EnvironmentFile=-/home/ucar/roscar.env
ExecStart=/bin/bash -lc 'ROBOT_IP="${ROBOT_IP:-$(hostname -I | awk '\''{print $1}'\'')}"; ROS_MASTER_URI="${ROS_MASTER_URI:-http://${ROBOT_IP}:11311}"; ROS_IP="${ROS_IP:-${ROBOT_IP}}"; source /opt/ros/melodic/setup.bash && source /home/ucar/ucar_ws/devel/setup.bash && export ROS_MASTER_URI ROS_IP && exec /home/ucar/start_sensors.sh'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
